{% extends 'layout.html' %}

{% block title %}
<title>chat</title>
{% endblock  %}

{% block chatblock %}
        <!--ChatBodyBlock-->
<div class='container chatbox' style='position:relaive'>
    <div class='row' >
        <div class='col-8  container-fluid' >

            <!--header-->
            <div class='col-12 navbar' style='height:20px;padding-bottom:10%;'>
                <h2>{{roomname}} Room</h2>
            </div>
                <!--endheader-->
                
                <!--chatblock-->
            <div class='col-12 ' style='height:450px;border:2px solid pink; border-radius:5px;' >
            
            <div class='d-flex flex-column' id='chatlogs' style='height:370px; overflow-y:auto; overflow-x:hidden'>    
                {%for message in list_of_messages%}
                    <p><b>{{message[0]}}</b> <small> {{message[1]}} </small>: {{message[2]}} </p>
                {%endfor%}

                <div id="messages">
                </div>
            </div>

            <div class='d-flex flex-column'>
            <form id="message_input_form"class="d-flex flex-column" style="">
                <input id="message_input" class='form-control' type='text' placeholder="Type" style='border:gray solid 2px;'>
                <button type="submit" class="btn btn-outline-secondary" style='border:gray solid 2px;'>Send</button>
            </form>      
            </div>

            </div> 
            
            <!--endchat-->

        </div>

        <!--partnerblock-->
        <div class='col-3 navbar justify-content-center'style='height:550px;'>
            <div class='d-flex flex-column'>

                <div class='p-2'>
                <form action="{{url_for('updateroom1',username=username,roomname=roomname)}}" method='get'>
                <button type='submit'>Update Room</button>
                </form>
                </div>
                
                <div class="p-2 " style=''>
                <h2 class="center" >Partners</h2>
                <ul>
                {% for member in members%}
                <li class="center" >{{member}}</li><br>
                {%endfor%}
                </ul>
                </div>
            </div>

        

        </div>

        <!--endblock-->
    </div>
</div>
<!--endBlock-->



{% endblock  %}

{%block scr%}

     <script >
    
     function updateScroll() {
        var element = document.getElementById("chatlogs");
        var elementHeight = element.scrollHeight;
        element.scrollTop = elementHeight
        }
    window.onload = updateScroll;  
const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            roomname: "{{ room.name }}"
        });

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    roomid: "{{ room.id }}",
                    roomname: "{{ room.name }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });

    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            roomname: "{{ room.name }}"
        })
    };

    socket.on('receive_message', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}:&nbsp;</b> <small> ${data.created_at} </small>: ${data.message}`;
        document.getElementById('messages').appendChild(newNode);
    });

    socket.on('join_room_announcement', function (data) {
        console.log(data);
        if (data.username !== "{{ username }}") {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
            document.getElementById('messages').appendChild(newNode);
        }
    });

    socket.on('leave_room_announcement', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> has left the room`;
        document.getElementById('messages').appendChild(newNode);
    });
      </script>
{%endblock%}