{% extends 'layout.html' %}
{% block title %}
<title>SignIN</title>
{% endblock  %}
{%block signin%}
        <!--signin form block-->
        <div class='container-fluid  '>
<div class='row justify-content-center'>
<div class=' signinform '>
        <label class='formElement'>
        welcome to our webChat 
        </label>

        <form action="{{url_for('storedata')}}" method="post">
        <input class='formElement' type='text' placeholder='User Name' name='username'></input><br>
        <input class='formElement' type='text' placeholder='User Email' name='email'></input><br>
        <input class='formElement' type='password' placeholder='Password' name='password'></input><br>
        <button class='formElement' type='submit'>SignUp </button>
        </form>
</div>
</div>
        </div>
<!--endblock-->
{%endblock%}