{% extends 'layout.html' %}
{% block title %}
<title>Welcome</title>
{% endblock  %}

{%block signinbtn%}
            <button class="btn btn-outline-secondary" > <a href="{{url_for('signin')}}" style='text-decoration:none; background-color:#ccccc;'> LogOut </a></button>
            <button class="btn btn-outline-secondary" > <a href="{{url_for('start', username=username, rooms=rooms)}}" style='text-decoration:none; background-color:#ccccc;'> Home </a></button>
            <a class="navbar-brand" href="#">{{username}}</a>
{%endblock%}

{% block Welcome %}
<!--welcomeblock-->
<div class='container'>
    
    <div class='row'>
    <div class='col-4 welElement'>
    <h1>Channels</h1>
    </div>
    <div class='col-4 welElement'>
    <h1>Welcome {{username}}</h1>
    </div>
    </div>
    
    <div class='row'>
    <div class='col-4 welElement '>
        <!--addNewRoom block-->
            <form action="{{url_for('createroom',ownername=username)}}" method="post">
            <div class='row'>

                <div class='col-8'>
                    <input type='text'style="border:e;" placeholder='New Room' name='roomname' class='form-control '></input>
                </div>
            
            <div class='col-4'>
                <button type="submit" class="btn btn-default float-right" aria-label="Right Align">
                <span class="glyphicon glyphicon-plus " aria-hidden="true"></span>
                </button>
            </div>
            </div>
            </form>
            

        <!--endblock-->
    </div>
    </div>

    <!--list all channels block-->
    <div class='row'>
    <div class='col-4 welElement btn-group'>
    
        <button type="button" class="btn dropdown-toggle" style='width:100%;background-color:#cccccc;'data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Join
        </button>
        <div class="dropdown-menu">
        {%for room in rooms%}
            <a class="dropdown-item" href="{{url_for('ViewRoom',roomname=room[1],username=username)}}">{{room[1]}}</a>
        {%endfor%}
        </div>

    </div>
    </div>
    <!--endblock-->

</div>
<!--endblock-->
{% endblock  %}

